/*Basic Css */
body {
    background-color: lightgrey;
    padding: 20px;
}
/* Sets up header size and aligns content into the center */
.head-wrap {
    width: 95%;
    margin: 0 2.5%;
    text-align: center;
    border: solid red 2px;
}
#stock-box {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    /* border: solid blue 2px; */
    display: block;
}
/* General wrapper for aligning content to the horozontal center */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.around {
    justify-content: space-between;
}
.show {
    display: table-row-group;
}
#comp-select{
    height: 600px;
    /* margin-left: 2.5%;
    width: 20%;  
    border: solid black 2px;
    display: block;
    float: left; */
} 
#meme-maker {
    height: 600px;
    /* width: 20%;
    margin-right: 2.5%;
    border: solid purple 2px;
    display: block;
    float: right;  */   
}
#meme-box {
    width: 50%;
    height: 250px;
    margin: 0 auto;
    /* border: solid green 2px; */
    position: relative;
}
#status-meme {
    /* margin: 20px 0 20px 20px; */
    height: 200px;
    /* width: 200px; */
    /* border: solid firebrick 2px; */
}
#user-memes {
    /* float: right; */
    /* margin: 20px 20px 20px 0; */
    height: 200px;
    /* width: 300px; */
    /* border: solid goldenrod 2px; */
}
#meme{
    height: fit-content;
    width: auto;
}
img{
    height: 100%;
    width:100%;
}
#company-select {
    width: 100%;
    height: 200px;
    border: red 2px solid;
    position: relative;
    
}
select {
    display: inline;
}
#graph {
    width: fit-content;
    height: fit-content;
}
=======
/*Basic Css */
body {
    background-color: lightgrey;
    padding: 20px;
}
/* Sets up header size and aligns content into the center */
.head-wrap {
    width: 95%;
    margin: 0 2.5%;
    text-align: center;
    border: solid red 2px;
}
#stock-box {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    /* border: solid blue 2px; */
    display: block;
}
/* General wrapper for aligning content to the horozontal center */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.around {
    justify-content: space-between;
}
#comp-select{
    height: 600px;
    /* margin-left: 2.5%;
    width: 20%;  
    border: solid black 2px;
    display: block;
    float: left; */
} 
#meme-maker {
    height: 600px;
    /* width: 20%;
    margin-right: 2.5%;
    border: solid purple 2px;
    display: block;
    float: right;  */
    
}
#meme-box {
    width: 50%;
    height: 250px;
    margin: 0 auto;
    /* border: solid green 2px; */
    position: relative;
}
#status-meme {
    /* margin: 20px 0 20px 20px; */
    height: 200px;
    /* width: 200px; */
    /* border: solid firebrick 2px; */
}
#user-memes {
    /* float: right; */
    /* margin: 20px 20px 20px 0; */
    height: 200px;
    /* width: 300px; */
    /* border: solid goldenrod 2px; */
}

#meme{
    height: fit-content;
    width: auto;
}

img{
    height: 100%;
    width:100%;
}

/* Comment Section Style starts here */

#commentBody {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin-bottom: 50px;
    background: cadetblue;
  };

  h4{
    margin: 5px 20px;
  };
  #timeSpan{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 300;
  }
  hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .comment-box{
    width: 85%;
    margin-top: 50px;
    background: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
    p {
      margin: 0 30px 15px;
      font-weight: 300;
      color: #333;
      word-wrap: break-word;
      background: #EEE;
      padding: 5px 10px;
  }
  .header {
    margin: 15px 20px;
    font-size: 27px;
    font-weight: 600;
  }
  form {
    margin: 10px 10px 30px 10px;
    /* :-webkit-input-placeholder; */
      color: #CCC;
      font-weight: 300;
  }
  input[type="text"], textarea {
    margin: 5px 10px;
    outline: none;
    background: #efefef;
    border: 0;
    padding: 10px;
  }
  textarea {
    resize: none;
    width: 85%;
  }
  input[type="text"] {
    width: 50%;
    margin-bottom: 15px;
  }
  button {
    font-weight: 400;
    margin: 12px 0 0 10px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background: #D3775D;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    transition: all .2s ease;
  
  }
    button:hover {
      background: #C15322;
    }
  

