/*Basic Css */
body {
    background-color: lightgrey;
    padding: 20px;
    font-family: 'Roboto', sans-serif;

}

#containerWrap{
    background-color: lightgrey;

}
/* Sets up header size and aligns content into the center */
.head-wrap {
    width: 95%;
    margin: 0 2.5%;
    text-align: center;
    background-image: url(https://www.xm.com/wp-content/uploads/2017/10/Stock-Charts-5.jpg);
    /* background-repeat: no-repeat; */
    background-position: center center;
    /* background-size: contain;  */
    color: rgb(39, 10, 10);
    /* border: solid red 2px; */
}

ul {
    height: 100%;
}

/* General wrapper for aligning content to the horozontal center */

.show {
    display: table-row-group;
}

.selectWrap{
    background-color: rgb(5,158,174);
}



#company-select {
    width: 100%;
    height: 80px;
    /* border: red 2px solid; */
    background-color: rgb(5,158,174);

    position: relative;
    
}
select {
    display: inline;
    color: black;
}
#graph {
    width: fit-content;
    height: fit-content;
};


/* Sets up header size and aligns content into the center */

#stock-box {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    /* border: solid blue 2px; */
    display: block;
}
/* General wrapper for aligning content to the horozontal center */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.around {
    justify-content: space-between;
}
#comp-select{
    height: 420px;
    background-color: rgb(5,158,174);

} 
#meme-maker {
    height: 420px;
    /* width: 20%;
    margin-right: 2.5%;
    border: solid purple 2px;
    display: block;
    float: right;  */
    
}
#meme-box {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    /* border: solid green 2px; */
    position: relative;
}

#memeWrapper {
    background: #EEE;
    height: 100%;
}

#status-meme {
    /* margin: 20px 0 20px 20px; */
    height: 200px;
    /* width: 200px; */
    /* border: solid firebrick 2px; */
}

#user-memes {
    /* float: right; */
    /* margin: 20px 20px 20px 0; */
    height: 200px;
    /* width: 300px; */
    /* border: solid goldenrod 2px; */
}

#cMeme, #uMeme{
    height: fit-content;
    width: auto;
}

img{
    height: 300px;
    width:100%;
}

/* Comment Section Style starts here */

#commentBody {
    height: fit-content;
    background-color: rgb(5,158,174);
  };

  h4{
    margin: 5px 20px;
  };
  #timeSpan{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 300;
  }
  hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .comment-box{
    /* width: 85%; */
    margin-top: 15px;
    background-color: rgb(5,158,174);
    padding: 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 405px;
  }
  
    p {
      /* margin: 0 30px 15px;
      font-weight: 300; */
      color: #333;
      word-wrap: break-word;
      background: #EEE;
      /* padding: 5px 10px; */
  }
  

  form {
    margin: 10px 10px 30px 10px;
    /* :-webkit-input-placeholder; */
      color: #CCC;
      font-weight: 300;
  }
  input[type="text"], textarea {
      color: black;
    margin: 5px 10px;
    outline: none;
    background: #efefef;
    border: 0;
    padding: 10px;
  }
  textarea {
    resize: none;
    width: 85%;
  }
  input[type="text"] {
    width: 50%;
    margin-bottom: 15px;
  }
  button {
    font-weight: 400;
    margin: 12px 0 0 10px;
    border: 0;
    color: #fff;
    font-size: 15px;
    background: #D3775D;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    transition: all .2s ease;
  
  }
    button:hover {
      background: #C15322;
    }
    i:hover {
        background: #C15322;
    }

    option{
        color: black;
    }

    /* Stock info design */

    #stockData {
        /* height: 300px; */
        line-height: 1.5;
        /* background-color: rgb(5,158,174); */
        /* width:100%; */
    }
        #container{
            /* float: left; */
            /* position: absolute; */
            height: 300px;
            width:100%;
        }
    
    .hidden{
        display: none;
    }

